__pycache__/
*.pyc
*.pyo
*.pyd
google-ads.yaml
archivo google-ads.yaml.txt
google-ads.customer-id.txt
client_secret_*.json
outputs/
dist/
build/
downloaded_files/
*.exe
scratch/
*.xlsx
*.pdf
*.log
.env
.env.*
*.txt.key
